
header {
    text-align: center;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 10%;
    height: 10%;
    border-style: solid;
    border-color: darkcyan;
    border-radius: 50%;
}

header > a {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: lightgray;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > a {
    margin-left: 10px;
    margin-right: 10px;
}

#main_text {
    background-color: lightseagreen;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.gallery_area {
    background-color: lightseagreen;
    text-align: center;
    position: relative;
    top: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.flex_gallery {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1%;
}

.flex_image {
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 2px 2px 5px gray;
}

.flex_image > img {
    border-style: ridge;
    width: 200px;
    height: 200px;
}